html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
	text-align: center;
	font-family: "Sylfaen";
}

h2 {
	font-family: "Sylfaen", serif;
    text-align: center;
    padding: 10px 15px;
}

h3 {
	font-family: "Sylfaen", serif;
    left: 3px;
}

.tes {
    text-align: center !important;
    font-family: "Sylfaen", serif !important;
    color: red;
}

.pos {
	text-align: center;
	font-family: "Sylfaen", serif;
	font-size: 25px;
}

.f1 {
	position: relative;
    left: 50%;
	font-size: 18px;
    transform: translate(-50%, 0);
}

.centers {
	text-align: center;
	padding: 0px 0px;
}

.mainblock {
	margin: 0 auto;
	width: 35%;
	height: 60%;
	position: relative;
	border: solid 3px black;
	border-radius: 20px;
	justify-content: center;
}

.rateblock {
	margin: 0 auto;
    width: 70%;
	height: 65%;
    z-index: 1;
	position: relative;
	border: solid 3px black;
	overflow-x: hidden;
    overflow-y: scroll;
	justify-content: center;
}

.testblock {
    margin: 0 auto;
    width: 55%;
    height: 90%;
    border: solid 3px black;
    border-radius: 20px;
    justify-content: center;
}

.min {
    height: 35%;
}

.max {
    height: 80%;
}

.f2 {
	position: relative;
    transform: translate(15%, 15%);
	left: 0%;
	margin: 0 auto;
}

.nov {
    left: 50%;
}

.enter {
	background-color: white;
    color: black;
	border: solid 2px black;
	border-radius: 12px;
	font-family: "Sylfaen", serif;
	font-size: 25px;
	margin: 0 auto;
	position: relative;
    width: 40%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 30%);
}


.enter:hover {
    background-color: #6173b0;
    color: white;
	cursor: pointer;
}

.fx {
    width: 130%;
}

.red:hover {
    background-color: darkred;
}

.green:hover {
    background-color: green;
}


table {
	position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border-spacing: 60px 0px;
}

.tt {
    left: 500px;
    display:none !important;
}

th, td {
   text-align: center;
   font-family: "Sylfaen", serif;
   font-size: 25px;
   padding: 3px;
}

th {
    font-size: 23px;
}

.minn {
    margin-bottom: -25px;
}

.maxx {
    margin-bottom: -2px;
}

.del {
    border-radius: 10px;
    width: 80%;
    left: 40%;
    font-size: 20px;
}

.deltd {
    padding-top: 0px;
    top: -13px;
}

select, option {
	font-family: "Sylfaen", serif;
    font-size: 20px;
}

.mi {
	padding: 0px 10px;
}

a {
    color: #005da8;
    text-decoration: none;
}

a:hover {
    color: #00bfff;
}

.flexer {
    justify-content: center;
    display: flex;
}

.first, .second, .third, .fourth {
    justify-content: center;
    display: flex;
    padding: 0% 2%;
}

.test {
    justify-content: center;
    display: flex;
    padding: 0% 2%;
}

.formhidd {
    display: none;
    margin: 0 auto;
    width: 30%;
    height: 50%;
    left: 33%;
    top: 33%;
    background-color: white;
    border: solid 3px black;
    z-index: 2;
    border-radius: 20px;
    justify-content: center;
    position: fixed;
}